// :host {
//   display: block;
//   //height: calc(100vh - 120px);
//   //overflow: auto;
//   margin: 0 -15px;
// }

.content {
  h5 {
    margin: 1rem 0 .75rem 0;
  }

  ol {
    .li-item {
      margin-bottom: .5rem;
    }
  }

  .empty {
    margin-top: 75px;
  }
}