:host {
  display: block;
  height: calc(100vh - 120px);
  overflow: auto;
  margin: 0 -15px;
}

.content {
  padding: 0 15px;
  h5 {
    margin-top: 0;
    margin-bottom: .5rem;
  }

  ol {
    .li-item {
      margin-bottom: .5rem;
    }
  }
}