<h3>내 커피 다이어리 <i class="i-coffee">☕️</i></h3>
<div class="tab_wrapper">
  <ul class="tab">
    <li
      class="tab_title"
      [class.active]="activeTab === 'order'"
      (click)="toggleTab('order')"
    >
      주문 내역
    </li>
    <li
      class="tab_title"
      [class.active]="activeTab === 'review'"
      (click)="toggleTab('review')"
    >
      내가 쓴 리뷰
    </li>
  </ul>
  <div class="tab_contents">
    <div class="tab_pane" [class.active]="activeTab === 'order'">
      <app-view-order-item
        *ngFor="let order of orders"
        [orderList]="order.orderList"
      ></app-view-order-item>
    </div>
    <div class="tab_pane" [class.active]="activeTab === 'review'">
      이것슨 리뷰
    </div>
  </div>
</div>
