.wrapper {
  height: calc(100vh - 55px - 65px);
  overflow-y: auto;
}

i.i-coffee {
  font-size: 23px;
}

.tab_wrapper {
  .tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .tab_title {
      color: #c5c5c6;
      width: 50%;
      text-align: center;
      height: 45px;
      font-size: 1.2rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid #fff;

      &.active {
        color: #222;
        border-bottom: 2px solid #222;
      }
    }
  }

  .tab_contents {
    padding: 10px 15px;
    .tab_pane {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.date_marker {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #e9e9e9; 
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #555;

  span {
    background:#fff; 
    padding:0 10px; 
  }
}
