.card-menu {
  background-color: #fff;
  display: block;
  overflow: hidden;
  text-decoration: none;

  &.active{
    background-color: #fafafa;
    border-radius: .25rem;
  }

  .img-item {
    float: left;
    position: relative;
    width: 92px;
    height: 92px;

    img {
      position: relative;
      width: 100%;
      background-color: #fafafa;
    }
  }

  .item-info {
    overflow: hidden;
    height: 92px;
    padding: 5px 0 0 15px;
    font-size: 15px;
    line-height: 18px;
    color: #222;

    .item-desc {
      font-size: 11px;
      color: #5d6368;
    }

    .item-price {
      .strikeThrough {
        text-decoration: line-through;
        text-decoration-color: #007bff;
      }

      .item-sale-price {
        margin-left: .25rem;
        font-weight: 700;
      }
    }
  }
}