<button (click)="toggle()" class="btn btn-primary mr-1">성분표</button>
<div *ngIf="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{ product.name }}
        <button class="btn" (click)="toggle()">close</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col col-3">
            <img src="{{ product.img }}" style="width: 100%;" />
          </div>
          <div class="col col-9">
            <table class="nutrition">
              <colgroup>
                <col />
                <col />
                <col />
                <col />
              </colgroup>
              <thead>
                <tr>
                  <th scope="col" class="w13">구분</th>
                  <th scope="col" class="w13">중량(g)</th>
                  <th scope="col" class="w13">열량 <br />(kcal)</th>
                  <th scope="col" class="w13">탄수화물(당류)<br />g(%)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>HOT</td>
                  <td>300</td>
                  <td>9</td>
                  <td class="end">1(0)</td>
                </tr>
              </tbody>
            </table>
            <table class="nutrition">
              <colgroup>
                <col />
                <col />
                <col />
                <col />
              </colgroup>
              <thead>
                <tr>
                  <th scope="col" class="w13">단백질<br />g(%)</th>
                  <th scope="col" class="w13">포화지방<br />g(%)</th>
                  <th scope="col" class="w13">나트륨<br />mg(%)</th>
                  <th scope="col" class="w13">카페인<br />mg(%)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1(2)</td>
                  <td>0(0)</td>
                  <td>5(0)</td>
                  <td class="end">161</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="modal" class="modal-backdrop fade" (click)="toggle()"></div>
