<h3>주문 리스트</h3>
<ng-container *ngIf="orders$ | async as orders">
  <div class="wrapper" *ngIf="orders.length > 0; else empty">
    <table>
      <colgroup>
        <col width="20px" />
        <col />
        <col width="80px" />
        <col width="35px" />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>메뉴</th>
          <th>금액</th>
          <th>수량</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
            <td class="td_btn">
              <button
                class="btn btn-link small btn-danger"
                (click)="removeCoffee(order.menu.productId)"
              >
                X
              </button>
            </td>
            <td>
              <img [attr.src]="order.menu.image" [attr.width]="40" />
              {{ order.menu.title }}
            </td>
            <td>
              {{ order.unitPrice | krCurrency }}
            </td>
            <td>{{ order.count }}</td>
        </tr>
      </tbody>
    </table>
    <div class="order_calculator" *ngIf="totalInfo$ | async as totalInfo">
      <div class="product_price_detail">
        <dl class="product_price">
          <dt>총 수량</dt>
          <dd>
            <span class="price" *ngIf="totalInfo.count as count"
              >{{ count }}잔</span
            >
          </dd>
        </dl>
      </div>
      <div class="product_price_total">
        <dl>
          <dt>총 주문금액</dt>
          <dd class="txt_point">
            <span class="price" *ngIf="totalInfo.price as price">{{
              price | krCurrency
            }}</span>
          </dd>
        </dl>
      </div>
    </div>
    <div class="d-flex-center my-3">
      <button class="btn btn-primary block" (click)="gotoOrder()">
        주문하기
      </button>
    </div>
  </div>
</ng-container>
<ng-template #empty>
  <div class="col-12 d-flex-center empty">
    커피가 비었습니다.
  </div>
</ng-template>
