.empty-list {
  font-size: .875rem;
  color: #e0e0e0;
  padding: .5rem .75rem;
}

@mixin alignment (
  $justifyContent: center
) {
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
}

.div-product {
  border: 1px solid #c8ced3;
  background-color: #fff;
  padding: .5rem .75rem;
  margin: .5rem 0;

  div.detail {
    @include alignment(flex-start);

    .div-thumbnail {
      img {
        width: 100%;
      }
    }

    .div-menu {
      padding: 16px 0 9px 15px;
      .span-price {
        margin-left: 33px;
      }
      .counter {
        font-size: 1.2rem;
      }
    }
  
    .div-desc {
      font-size: .875rem;
    }
  }

  div.btn-group {
    @include alignment(flex-end);
  }
}