@mixin active() {
  font-weight: 700;
  background-color: #333;
  color: #fff;
  border-color: #333 !important;
}

.footer {
  background-color: #fff;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ababab;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .active {
    @include active();
  }

  .btn-block {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;

    &:active {
      @include active();
    }

    &:last-child {
      border-right: 0;
    }
  }
}