<div class="row mb-3 order-list" [class.fixToTop]="hasToTop">
  <div class="col-12">
    <p class="text-title">주문 리스트</p>
    <div class="row order-item title">
      <div class="col-8 pl-0">
        메뉴
      </div>
      <div class="col-2 p-0 text-right">
        금액
      </div>
      <div class="col-2 text-right pr-0">
        수량
      </div>
    </div>
    <ng-container *ngIf="orders">
      <app-view-order-item *ngFor="let order of orders" [order]="order"></app-view-order-item>
    </ng-container>
  </div>
  <div class="col-12 d-flex-between">
    <span class="total-price">총 {{totalPrice | krCurrency }}</span>
    <button class="btn btn-primary small">주문하기</button>
  </div>
</div>
